.cookie#cookie
    .cookieShell
        svg(width="54" height="54" class="cookieIcon" fill="#3464E0")
            use(href="#cookie-icon")
        p Мы используем файлы cookie. <br> С их помощью мы позаботимся о вас, улучшая работу этого сайта.
        .cookieActions
            button(type="button").cookieBtn
                span.cookieBtnCross
