.filter__range.two-range-slider.js-two-range-slider
    .two-range-slider__output
        output.two-range-slider__value.js-two-range-slider-min-value.two-range-slider__value--left.range-money
        output.two-range-slider__value.js-two-range-slider-max-value.two-range-slider__value--right.range-money
    input.two-range-slider__input.js-two-range-slider-input(type='range' min='0' max='250000' value='250000' step='10000').left-range
    input.two-range-slider__input.js-two-range-slider-input(type='range' min='0' max='240000' value='0' step='10000').left-range

.filter__range.two-range-slider.js-two-range-slider
    .two-range-slider__output
        output.two-range-slider__value.js-two-range-slider-min-value.two-range-slider__value--left
        output.two-range-slider__value.js-two-range-slider-max-value.two-range-slider__value--right
    input.two-range-slider__input.js-two-range-slider-input(type='range' min='0' max='50' value='20' step='1').left-range
    input.two-range-slider__input.js-two-range-slider-input(type='range' min='0' max='50' value='0' step='1').left-range
