.advertisement
    h2.advertisement__titile Объявления
    .advertisement__slider.slider
        .slider__item.slider__item--online
            .slider__item-content
                h4.slider__item-title Студенческая весна. Приглашаем на еженедельные онлайн-встречи!
                p.slider__item-descr Приглашаем Вас принять участие в презентациях и консультациях, а также в мастер-классах Российского государственного социального университета
                a(href="#").slider__item-link Подробнее
            .slider__item-info
                p.slider__item-date 19
                    span сентября
                span.slider__item-state.slider__item-state--online Онлайн

                //ДОДЕЛАТЬ СЛАЙДЕР!