section.announcement
    a(href="#").announcement__container
        .announcement__wrapper
            p.announcement__text
                | ⚡️ Объявлен прием заявлений на заселение в общежития. Успей подать заявление в 
                | разделе услуг.
