section.classmates
    .classmates__container.container
        .classmates__wrapper
            h2.classmates__title.title Одногруппники
            .classmates__list.scrollbar-custom
                .classmates__list-wrapper
                    +user('Ивко Валентина Петросовна', '23 февраля', 'avatar-1.jpg', '#')
                    +user('Цепко Харитон Викторович', '24 августа', 'avatar-2.jpg', '#')
                    +user('Лобкова Ольга Федоровна', '25 мая', 'avatar-3.jpg',  '#')
                    +user('Ивко Валентина Петросовна', '23 февраля', 'avatar-1.jpg',  '#')
                    +user('Цепко Харитон Викторович', '24 августа', 'avatar-2.jpg', '#')
                    +user('Лобкова Ольга Федоровна', '25 мая', 'avatar-3.jpg',  '#')
