section.enter
    .enter__wrapper
        picture.enter__background
            img(src="img/main.jpg" alt="Главный корпус РГСУ")
        h1 Цифровая среда РГСУ
        p.enter__subtitle Единое информационное <br>и сервисное пространством университета
        button(type="button").enter__button.btn.btn--transparent Войти в личный кабинет
