section.enter
    .enter__wrapper
        video(autoplay muted loop preload poster="img/coverflow.png").enter__background
            source(src='video/digital_wave_background_01.webm' type="video/webm")
            source(src="video/Digital_Wave_Background_01.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            source(src="img/coverflow.png" type="image/png")
        h1 Цифровая среда РГСУ
        p.enter__subtitle Единое информационное <br> и сервисное пространством университета
        button(type="button").enter__button.btn.btn--transparent.js-menu-login Войти в личный кабинет
