section.enter
    .enter__wrapper
        picture.enter__background
            source(srcset="img/main.webp" type="image/webp")
            img(src="img/main.jpg" alt="Главный корпус РГСУ")
        h1 Студенческий портал
        button(type="button").enter__button Войти в личный кабинет
