section.extra-info
    .extra-info__container.container
        .extra-info__header
            h2.extra-info__title.title--s Дополнительная информация
            span.divider.no-print
            button.extra-info__button.no-print
                span.extra-info__button-icon
        .extra-info__wrapper.extra-info__wrapper--open
            article.extra-info__card.extra-info__employment.employment.card--stack
                h3.extra-info__card-title.title Трудоустройство
                ul.employment__list
                    li.employment__item
                        p.employment__description Нахожусь в поиске работы:
                            span.employment__state Да
                    li.employment__item
                        p.employment__description Желаемый вид занятости:
                            span.employment__state Полная
                    li.employment__item
                        p.employment__description Субъект трудоустройства:
                            span.employment__state Москва
                    li.employment__item
                        p.employment__description Желаемая должность:
                            span.employment__state Культорганизатор
                    li.employment__item
                        p.employment__description Профессиональная область:
                            span.employment__state Искусство
            article.extra-info__card.extra-info__about.about.card--stack
                h3.extra-info__card-title.title О себе
                p.about__description
                    | Активист, тим-лидер, организатор, интересуюсь наставничеством, историей, искусством, философией.
                h3.extra-info__card-title.title Знание языков
                ul.extra-info__card-languages.languages
                    li.languages__item Немецкий
                        span.flag-DE
                    li.languages__item Испанский
                        span.flag-ES

            article.extra-info__card.extra-info__card-reccomendations.reccomendations.card--stack.scrollbar-custom
                h3.extra-info__card-title.title Рекомендации
                ul.reccomendations__list
                    li.reccomendations__item
                        a(href="#").reccomendations__link Петров Максим Александрович
                            span.reccomendations__mail PetrovMA@rgsu.net
                            span.reccomendations__tel 1217
                    li.reccomendations__item
                        a(href="#").reccomendations__link Иванов Владимир Петрович
                            span.reccomendations__mail IvanovVP@rgsu.net
                            span.reccomendations__tel 1017
                    li.reccomendations__item
                        a(href="#").reccomendations__link Гальчич Максим Александрович
                            span.reccomendations__mail PetrovMA@rgsu.net
                            span.reccomendations__tel 1217
                    li.reccomendations__item
                        a(href="#").reccomendations__link Гальчич Максим Александрович
                            span.reccomendations__mail PetrovMA@rgsu.net
                            span.reccomendations__tel 1217
                    li.reccomendations__item
                        a(href="#").reccomendations__link Петров Максим Александрович
                            span.reccomendations__mail PetrovMA@rgsu.net
                            span.reccomendations__tel 1217
                    li.reccomendations__item
                        a(href="#").reccomendations__link Иванов Владимир Петрович
                            span.reccomendations__mail IvanovVP@rgsu.net
                            span.reccomendations__tel 1017
                    li.reccomendations__item
                        a(href="#").reccomendations__link Гальчич Максим Александрович
                            span.reccomendations__mail PetrovMA@rgsu.net
                            span.reccomendations__tel 1217
                    li.reccomendations__item
                        a(href="#").reccomendations__link Гальчич Максим Александрович
                            span.reccomendations__mail PetrovMA@rgsu.net
                            span.reccomendations__tel 1217
