section.faq
    .faq__container.swiper-container
        .faq__header
            h2.faq__titile Частые вопросы
            span.divider
        .swiper-wrapper.faq__wrapper
            // Slides
            .swiper-slide.faq__slide
                .faq__block
                    .block__content.block__content--main
                        h3.block__title Учеба
                        ul.block__list
                            li.block__item Когда и как мы начнем учиться?
                            li.block__item Как будет обеспечиваться безопасность студентов и сотрудников университета?
                            li.block__item Где можно ознакомиться с расписанием занятий?
                            li.block__item Если я поступил на 1 курс РГСУ?
            .swiper-slide.faq__slide
                .faq__block
                    .block__content.block__content--main
                        h3.block__title Работа
                        ul.block__list
                            li.block__item Когда и как мы начнем работать?
                            li.block__item Как будет обеспечиваться безопасность студентов и сотрудников университета?
                            li.block__item Где можно ознакомиться с расписанием работы?
                            li.block__item Если я устроился в РГСУ?
            .swiper-slide.faq__slide
                .faq__block
                    .block__content.block__content--main
                        h3.block__title Еда
                        ul.block__list
                            li.block__item Когда и как мы начнем обедать?
                            li.block__item Как будет обеспечиваться безопасность студентов и сотрудников университета?
                            li.block__item Где можно ознакомиться с расписанием обедов?
                            li.block__item Если я пошел на обед?
        .faq__buttons
            .swiper-button-prev
            .swiper-pagination
            .swiper-button-next