footer.footer.no-print#footer
    .footer__container.container.visually-hidden
        .footer__section
            h2.footer__section-title.title Контакты
            ul.footer__contacts-list.footer__list
                li.footer__contacts-item г. Москва, ул. Вильгельма Пика, дом 4, <br> стр.1 корпус 2, этаж 4, кабинеты 14–15
                li.footer__contacts-item Электронная почта:
                    a(href="mailto:info@rgsu.net").footer__contacts-link.footer__contacts-mail  info@rgsu.net <br>
                li.footer__contacts-item Телефон:
                    a(href="tel:+74952556767").footer__contacts-link.footer__contacts-tel +7(495)255–67–67(доб. 3317, 2112, 3152)
        .footer__section
            h2.footer__section-title.title График работы
            p.footer__schedule Понедельник - Пятница: 09:00 - 18:00 <br> Суббота - Воскресенье: Выходные
            ul.footer__message-list.footer__list
                li.footer__message-item.footer__message-item--mail
                    a(href="mailto:info@rgsu.net").footer__message-link.footer__message-link--mail Интернет приемная
                        svg(width="23" height="18")
                            use(href="img/icons/icons.svg#email")
                li.footer__message-item
                    a(href="mailto:info@rgsu.net").footer__message-link.footer__message-link--telegram
                        img(src="img/telegram-light.svg" alt="Написать нам в Телеграм" width='36' height='36')
                li.footer__message-item
                    a(href="mailto:info@rgsu.net").footer__message-link.footer__message-link--whatsapp
                        img(src="img/whatsapp.svg" alt="Написать нам в Whatsapp" width='36' height='36')

        .footer__section
            h2.footer__services-title.footer__section-title.title Интернет ресурсы университета
            ul.footer__services-list.footer__list
                li.footer__services-item
                    a(href="mailto:info@rgsu.net").footer__services-link Официальный сайт
                li.footer__services-item
                    a(href="mailto:info@rgsu.net").footer__services-link Виртуальная образовательная среда
            .footer__social.social-block
                ul.social-block__list.footer__list
                    li.social-block__item
                        a(href="mailto:info@rgsu.net").social-block__link.social-block__link--vk Вконтакте
                            svg(width="18" height="11")
                                use(href="#vk")
                    li.social-block__item
                        a(href="mailto:info@rgsu.net").social-block__link.social-block__link--fb Фейсбук
                            svg(width="8" height="16")
                                use(href="#fb")
                    li.social-block__item
                        a(href="mailto:info@rgsu.net").social-block__link.social-block__link--insta Инстаграм
                            svg(width="16" height="16")
                                use(href="#insta")
    hr
    ul.footer__policy.footer__section.footer__list
        li.footer__policy-item
            a.footer__copyright © 2008-2020 РГСУ. Сделано в РГСУ
        li.footer__policy-item
            a(href="#").footer__terms Пользовательское соглашение
        li.footer__policy-item
            a(href="#").footer__bugs Сообщить об ошибке на сайте
