header.page-header.js-header
    .page-header__wrapper
        .page-header__sidebar
            button.page-header__sidebar-toggler
                span.toggler-element
                span Профиль
        .page-header__logo
            svg.page-header__logo-image(width="48" height="48" fill="#FFFFFF")
                use(xlink:href="#brain")
            h1.page-header__logo-description Smart портал РГСУ

        .page-header__menu
            button.page-header__toggler.js-menu-toggler
                span Меню
            nav.page-header__nav
                div#nav
                    ul.page-header__menu-list
                        li.page-header__menu-item
                            a.js-menu-link(href="#") Вакансии
                        li.page-header__menu-item
                            a.js-menu-link(href="#") Портфолио студентов

        .page-header__login
            button.page-header__login-button Войти на портал