header.page-header.js-header
    .overlay#overlay-modal
    .page-header__wrapper.container
        .page-header__sidebar
            button.page-header__sidebar-toggler
                span.toggler-element
                span Профиль
        .page-header__logo
            svg.page-header__logo-image(width="48" height="48" fill="#FFFFFF")
                use(xlink:href="#brain")
            h1.page-header__logo-description Smart портал РГСУ

        .page-header__menu
            nav.page-header__nav
                div#nav
                    ul.page-header__menu-list
                        li.page-header__menu-item
                            a.js-menu-link(href="vacancy.html") Вакансии
                        li.page-header__menu-item
                            a.js-menu-link(href="digital-portfolio.html") Портфолио студентов
                        li.page-header__menu-item.page-header__menu--exit
                            a.js-menu-link.page-header__menu-link--exit(href="#") Завершить сеанс

        .page-header__login
            button.page-header__login-button.js-menu-toggler.page-header__toggler Войти на портал
                svg.page-header__toggler--icon(width="20" height="20" fill="#FFF")
                    use(xlink:href="#key")
            .login
                .login__navigation
                    ul.login__navigation-list
                        li.login__navigation-item
                            a.js-menu-link.js-menu-login(href="#") Мой профиль
                        li.login__navigation-item
                            a.js-menu-link(href="moderate.html") Модерирование
                        li.login__navigation-item.login__navigation--exit
                            a.js-menu-link.page-header__menu-link--exit(href="#") Завершить сеанс
                .login__modal.modal.card--stack
                    button.modal__close.js-close-button Закрыть
                    h3.modal__title Вход на сайт
                    form.modal__form
                        .modal__form-group.modal__form-group--mail
                            label.form__label Ваш email
                            input(type="email" required placeholder='Укажите адрес электронной почты').form__input
                        .modal__form-group.modal__form-group--password
                            label.form__label Введите пароль
                            input(required placeholder='*****').form__input
                        .modal__buttons
                            button(type="submit").modal__enter Войти
                            button(type="submit").modal__sber Войти с помощью Сбер ID
                            a(href="#").modal__error Не можете войти?