section.info
    .info-bg
    .container.info-container.swiper-container
        .info__wrapper.swiper-wrapper
            .info__card-block.swiper-slide
                article.info__card-stack.info__card--schedule.card--stack
                    h4.info__card-title.title Расписание
                    p.info__card-week
                    p.info__card-main.info__card-time
                    p.info__card-sub.info__card-date
                    p.info__card-daytime Идет <span>5</span> пара 😟

            .info__card-block.swiper-slide
                article.info__card-stack.info__card--cv.card--stack
                    h4.info__card-title.title Портфолио
                    p.info__card-main.info__card-fellow <span>10 657</span>
                    p.info__card-sub Высококвалифицированных специалиста
                    a(href="#").info__card-about.btn Подробнее

            .info__card-block.swiper-slide
                article.info__card-stack.info__card--vacancy.card--stack
                    h4.info__card-title.title Вакансии
                    p.info__card-main.info__card-workers <span>34</span>
                    p.info__card-sub Вакансии для студентов университета
                    a(href="#").info__card-about.btn Подробнее

            .info__card-block.info__card-media.swiper-slide
                article.info__card-stack.info__card-stack--half.card--stack
                    a(href="#").info__card-media-description.info__card-telegram
                        span.info__card-media-icon.info__card-media-icon--telegram
                        p.info__card-media-name Электронный деканат
                        p.info__card-media-hash #RGSU_online
                article.info__card-stack.info__card-stack--half.card--stack
                    a(href="#").info__card-media-description.info__card-youtube
                        span.info__card-media-icon.info__card-media-icon--youtube
                        p.info__card-media-name Медиапростанство
                        p.info__card-media-hash #RGSU_LIFE
        .info__card-pagination.swiper-pagination
