section.international-work
    .international-work__header
        h2.international-work__title Международная деятельность
        span.divider
        .international-work__progress
            .progress
                .progress-bar(data-progress='16')
            .progress-info
    .international-work__container

