main.main
    mixin vacancy
        .vacancy__item
            p.vacancy__item-title Требования:
            ul.vacancy__item-list
                li.vacancy__item-item Активная жизненная позиция и позитивный настрой
                li.vacancy__item-item Желание приобрести новый опыт работы и работать в команде профессионалов
                li.vacancy__item-item Общительность и ориентация на клиента
                li.vacancy__item-item Нацеленность на результат
                li.vacancy__item-item Знания по работе в MS Office (Word, Excel, Power Point)
                li.vacancy__item-item Готовность к разъездному характеру работы
            p.vacancy__item-title Обязанности:
                ul.vacancy__item-list
                    li.vacancy__item-item Консультировать студентов и абитуриентов, партнеров РГСУ по продуктам Университета
                    li.vacancy__item-item Проводить презентации
                    li.vacancy__item-item Устанавливать долгосрочные отношения с компаниями-партнерами
            p.vacancy__item-title Документы для устройства на работу:
                ul.vacancy__item-list
                    li.vacancy__item-item Паспорт (для иностранных студентов + нотариально заверенный перевод)
                    li.vacancy__item-item Миграционная карта (Для иностранных студентов)
                    li.vacancy__item-item Виза (для иностранных студентов)
                    li.vacancy__item-item Регистрация (для иностранных студентов)
                    li.vacancy__item-item СНИЛС
                    li.vacancy__item-item ИНН
                    li.vacancy__item-item Справка, подтверждающая обучение студента
        .vacancy__salary
            p.vacancy__item-title.vacancy__salary-title Заработная плата:
                span.vacancy__salary-item Оплата сдельная
            a(href="#").vacancy__button.btn--green Откликнуться

    section.vacancy
        .vacancy__container.container
            .vacancy__header
                h2.vacancy__title.title--large Открытые вакансии портала
                a(href="#").vacancy__question Хотите разместить вакансию?
            .vacancy__content
                .vacancy__wrapper
                    .vacancy__section.accordeon-section
                        p.vacancy__section-title.accordeon-title.title--main Агент по корпоративным продажам
                            button.vacancy-button.accordeon-button
                        .vacancy-container.accordeon-container
                            +vacancy
                    .vacancy__section.accordeon-section
                        p.vacancy__section-title.accordeon-title.title--main Делопроизводитель в архиве
                            button.vacancy-button.accordeon-button
                        .vacancy-container.accordeon-container
                            +vacancy
                    .vacancy__section.accordeon-section
                        p.vacancy__section-title.accordeon-title.title--main Сотрудник деканата
                            button.vacancy-button.accordeon-button
                        .vacancy-container.accordeon-container
                            +vacancy
                    .vacancy__section.accordeon-section
                        p.vacancy__section-title.vacancy__section-title--hot.accordeon-title.title--main Оператор контактного центра
                            button.vacancy-button.accordeon-button
                        .vacancy-container.accordeon-container
                            +vacancy
                    .vacancy__section.accordeon-section
                        p.vacancy__section-title.accordeon-title.title--main Сотрудник службы приёма и размещения в общежитии
                            button.vacancy-button.accordeon-button
                        .vacancy-container.accordeon-container
                            +vacancy
                .vacancy__filter.filter
                    .filter__wrapper
                        .filter__checkboxes
                            .filter__checkboxes-container
                                .filter__checkboxes-wrapper
                                    label.filter__label( for="hot") Срочная ⚡
                                        input.filter__checkbox(disabled type="checkbox" id="hot" name="hot")
                                        span.filter__checkbox-visible
                                .filter__checkboxes-wrapper
                                    label.filter__label(for="study") Учебная
                                        input.filter__checkbox(checked type="checkbox" id="study" name="study")
                                        span.filter__checkbox-visible
                                .filter__checkboxes-wrapper
                                    label.filter__label(for="outstudy") Внеучебная
                                        input.filter__checkbox(type="checkbox" id="outstudy" name="outstudy")
                                        span.filter__checkbox-visible
                        .filter__faculty
                            h4.filter__title.title--aside Лаборатория
                            select.filter__select
                                option(selected disabled) -- выберите --
                                option(value="#") Радиотехнический
                                option(value="#") Физики и Химии
                                option(value="#") Искусств
                        .filter__education
                            h4.filter__title.title--aside Область
                            .filter__education-options
                                include select/_select
                        .filter__salary
                            h4.filter__title.title--aside Заработная плата
                            .c-rng__multi
                                input.c-rng(type='range' min='0' max='250000' value='20000' data-js='range' data-range-output=':true' data-range-type='lower' data-range-diff='5')
                                input.c-rng(type='range' min='0' max='250000' value='200000' data-js='range' data-range-output=':true' data-range-type='upper' data-range-diff='5')
