main.main
    include ./_enter
    include ./_info
    include ./_portfolio
    include ./_classmates
    include ./_announcement
    include ./_services

    include ./_faq

    include ./_advertisement
    include ./_news
    include ./_banner
    include ./_portfolio-tabs
