section.new-section
    .new-section__container.container
        .new-section__header
            h2.new-section__title.title--large Студенческие новости
            a(href="news.html").new-section__link Все новости
                svg(width="24" height="18").new-section__link-icon
                    use(xlink:href="#arrow")
        .new-section__wrapper
            .new-section__hero
                picture.new-section__picture
                    img(src='img/new-bg.png' alt="#{newTitle}")
                h3.new-item__title По программам, разработанным в РГСУ, будут готовить волонтеров по всей стране
                p.new-item__date
                    span.new-item__date-day 19
                    span.new-item__date-month Сентября
                    span.new-item__date-year 2020
                ul.new-item__tags
                    li.new-item__tags-item
                        a(href="#") Общественная деятельность
                    li.new-item__tags-item
                        a(href="#") Учебная деятельность
            .new-section__content.card--stack
                p.new-section__content-announce
                    | Министерство образования и науки Российской Федерации рекомендовало (Письмо Минобрнауки РФ от 11 сентября 2020 года № мн-11/272-ЕД) руководителям образовательных организаций высшего образования Российской Федерации для внедрения в основные профессиональные и дополнительные профессиональные образовательные программы в 2020/2021 учебном году разработанные коллективом Российского государственного социального университета.
                .new-section__content-main
                    p Программы были разработаны совместно с представителями Высшей школы экономики и Ассоциации волонтерских центров, «Примерную программу дисциплины (модуля) «Организация добровольческой (волонтерской) деятельности и взаимодействие с социально ориентированными НКО для обучающихся по основным профессиональным образовательным программам (Авторский коллектив: Аникеева О.А., Гришкин В.В., Князькова Е.А., Мерсиянова И.А., Метелев А.П., Решетников О.В., Рудницкая А.П., Свистунов А.В., Сизикова В.В., Теплицына А.Ю., Шимановская Я.В.) и «Рабочая программа и учебный план по дополнительной профессиональной программе повышения квалификации «Содействие развитию добровольчества (волонтерства) и взаимодействие с социально ориентированными НКО» (Авторский коллектив: Аникеева О.А., Гришкин В.В., Иванова Н.В, Карпунина А.В., Князькова Е.А., Козак Е.М., Мерсиянова И.А., Метелев А.П., Ростовская Т.К,, Рудницкая А.П., Свистунов А.В., Сизикова В.В., Теплицына А.Ю., Шимановская Я.В.).
                    p Данные программы были апробированы в 2020 году в 20 пилотных образовательных организациях, общее количество прошедших обучение – более 2000 студентов.
                    p В Российском государственном социальном университете с 2014 года для первых курсов всех направлений подготовки реализуется модульная дисциплина «Технологии самоорганизации и эффективного взаимодействия».
                    p Модули, включенные в дисциплину «Технологии самоорганизации и эффективного взаимодействия: «технологии самоорганизации», «технологии коммуникации», «социальная позиция в профессиональной деятельности  (вожатство)», «технологии содействия профессиональному развитию (волонтерство)».
                    p Таким образом, вопросы содержания и  технологий организации добровольческой (волонтерской) деятельности и взаимодействия с социально ориентированными НКО  реализовывались в университете как модуль в рамках дисциплины 1 курса и с 2014 года 7608 студентов прошли обучение по соответствующему модулю.
                    p В 2020-2021 учебном году, в соответствии с учебными планами, обучение по модулю «Технологии содействия профессиональному развитию (волонтерство)» пройдут 843 студента 1 курса РГСУ в рамках обучения по 38 образовательным программам.
            .new-section__other-news
                h2.new-section__title.title--large Другие новости
                .news__wrapper.news__slider-other.swiper-container
                    .swiper-wrapper
                        .news__item.swiper-slide
                            .block.block--wide.block__content-news
                                a(href="#").block__content
                                    p.news__item-date 1 сентября
                                    h3.news__item-title Поздравление с Днем знаний и началом нового учебного года
                                    picture.news__picture
                                        source(srcset="img/studyear.webp" type="image/webp")
                                        img(src="img/studyear.png")
                        .news__item.swiper-slide
                            .block.block--wide.block--attention.block__content-news
                                a(href="new-layout.html").block__content.block__content--hot
                                    p.news__item-date.news__item-date--dark 28 августа
                                    h3.news__item-title Студенческая весна. приглашаем на еженедельные онлайн-встречи!
                                    picture.news__picture
                                        source(srcset="img/studyspring.webp" type="image/webp")
                                        img(src="img/studyspring.png")
