.news
    .news__wrapper(style='display: flex;align-items: center;margin-bottom: 38px;')
        h2.news__titile Студенческие новости
        span.divider
        div.news__buttons
            div.news__control.news__control--previous.js-slider__previous
            ol.news__indicators.js-slider__indicators
                li.first.active
                li.second
                li.third
            div.news__control.news__control--next.js-slider__next
    .news__slider.js-slider
        .news__items.js-slider__items
            .news__item.js-slider__item
                .block.block--wide.block__content-news
                    a(href="#").block__content
                        p.news__item-date 1 сентября
                        h3.news__item-title Поздравление с Днем знаний и началом нового учебного года
            .news__item.js-slider__item
                .block.block--wide.block--attention.block__content-news--even
                    a(href="#").block__content
                        p.news__item-date.news__item-date--dark 28 августа
                        h3.news__item-title Студенческая весна. приглашаем на еженедельные онлайн-встречи!
            .news__item.js-slider__item
                .block.block--wide.block__content-news
                    a(href="#").block__content
                        p.news__item-date 1 сентября
                        h3.news__item-title Поздравление с Днем знаний и началом нового учебного года
            .news__item.js-slider__item
                .block.block--wide.block__content-news--even
                    a(href="#").block__content
                        p.news__item-date 1 сентября
                        h3.news__item-title Поздравление с Днем знаний и началом нового учебного года
            .news__item.js-slider__item
                .block.block--wide.block__content-news
                    a(href="#").block__content
                        p.news__item-date 1 сентября
                        h3.news__item-title Поздравление с Днем знаний и началом нового учебного года