section.outstudy-work
    .outstudy-work__header
        h2.outstudy-work__title Внеучебная деятельность
        span.divider
        .outstudy-work__progress
            .progress
                .progress-bar(data-progress='74')
            .progress-info
    .outstudy-work__container
