section.partners
    .partners__container
        .partners__header
            h2.partners__title Наши партнеры
            span.divider
    .partners__wrapper.swiper-container
        ul.partners__list.swiper-wrapper
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#adidas")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#adecco")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#hh")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#inditex")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#rosgosstrah")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#rssm")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#adidas")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#adecco")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#hh")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#adidas")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#adidas")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#hh")
            li.partners__item.swiper-slide
                a.partners__link(href="#")
                    svg
                        use(xlink:href="#rssm")
        .partners__list-pagination.swiper-pagination