section.portfolio.no-print
    .portfolio__container.card--stack
        h2.portfolio__title.title Средний балл
        .portfolio__wrapper
            .portfolio__progress.gauge.gauge--score(data-width="236" data-value="3.59")
                span.gauge__value
