section.portfolio-tabs
    h2.portfolio-tabs__title Портфолио по профессиям
    .portfolio-tabs__buttons
        button.btn.portolio-tabs__button.portfolio-tabs__button.portfolio-tabs__button--active
        button.btn.portolio-tabs__button.portfolio-tabs__button.portfolio-tabs__button
        button.btn.portolio-tabs__button.portfolio-tabs__button.portfolio-tabs__button
        button.btn.portolio-tabs__button.portfolio-tabs__button.portfolio-tabs__button
        button.btn.portolio-tabs__button.portfolio-tabs__button.portfolio-tabs__button
    .portfolio-tabs__article.portfolio-tabs__article--active
    .portfolio-tabs__article
    .portfolio-tabs__article
    .portfolio-tabs__article
    .portfolio-tabs__article