section.portfolio
    .portfolio__container
        h2.portfolio__title Портфолио
        .portfolio__wrapper
            .portfolio__progress.gauge(data-width="236" data-value="75")
                span.gauge__value