section.portfolio-cards
    .portfolio-cards__container.container
        .portfolio-cards__header
            h2.portfolio-cards__title.title--large Цифровое портфолио обучающегося
            span.portfolio-cards__counter 10 456
        .portfolio-cards__wrapper
            a(href="digital-profile.html")
                +portfolio-card('', 'Мария Владимировна Н.', 'Факультет искусств', 'Педагогическое образование', '20', '2', '75', 'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--handshake Достижение: Рукопожатие
                            svg.achievement-icon(width="18" height="18")
                                use(href="#handshake")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon(width="18" height="18")
                                use(href="#trophy" )

            a(href="digital-profile.html")
                +portfolio-card('card-avatar-2.png', 'Анастасия Олеговна Б.', 'Факультет искусств', 'Педагогическое образование', '21', '1', '42',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon(width="18" height="18")
                                use(href="#trophy")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-3.png', 'Родион Нугзарович К.', 'Гуманитарный Факультет', 'Политология', '22', '2', '85',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--paint-palette Достижение: Искусство
                            svg.achievement-icon(width="18" height="18")
                                use(href="#paint-palette")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon(width="18" height="18")
                                use(href="#trophy")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-4.png', 'Мария Владимировна Н.', 'Факультет искусств', 'Педагогическое образование', '23', '3', '100',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--handshake Достижение: Рукопожатие
                            svg.achievement-icon(width="18" height="18")
                                use(href="#handshake")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--paint-palette Достижение: Искусство
                            svg.achievement-icon(width="18" height="18")
                                use(href="#paint-palette")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--notebook Достижение: Книжка
                            svg.achievement-icon(width="18" height="18")
                                use(href="#notebook")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-5.png', 'Мария Владимировна Н.', 'Факультет искусств', 'Педагогическое образование', '24', '4', '75',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--handshake Достижение: Рукопожатие
                            svg.achievement-icon(width="18" height="18")
                                use(href="#handshake")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon(width="18" height="18")
                                use(href="#trophy")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-6.png', 'Анастасия Олеговна Б.', 'Факультет искусств', 'Педагогическое образование', '25', '5', '15',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon(width="18" height="18")
                                use(href="#trophy")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-7.png', 'Родион Нугзарович К.', 'Факультет искусств', 'Педагогическое образование', '26', '10', '85',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--paint-palette Достижение: Искусство
                            svg.achievement-icon(width="18" height="18")
                                use(href="#paint-palette")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon(width="18" height="18")
                                use(href="#trophy" )

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-8.png', 'Мария Владимировна Н.', 'Факультет искусств', 'Педагогическое образование', '27', '2', '100',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--paint-palette Достижение: Искусство
                            svg.achievement-icon(width="18" height="18")
                                use(href="#paint-palette")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-9.png', 'Мария Владимировна Н.', 'Факультет искусств', 'Педагогическое образование', '28', '2', '75',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--handshake Достижение: Рукопожатие
                            svg.achievement-icon( width="18" height="18")
                                use(href="#handshake")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon( width="18" height="18")
                                use(href="#trophy")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-10.png', 'Анастасия Олеговна Б.', 'Факультет искусств', 'Педагогическое образование', '29', '2', '15',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon( width="18" height="18")
                                use(href="#trophy")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-11.png', 'Родион Нугзарович К.', 'Факультет искусств', 'Педагогическое образование', '30', '2', '85',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon( width="18" height="18")
                                use(href="#trophy")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--paint-palette Достижение: Искусство
                            svg.achievement-icon( width="18" height="18")
                                use(href="#paint-palette")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--notebook Достижение: Книжка
                            svg.achievement-icon( width="18" height="18")
                                use(href="#notebook")

            a(href="digital-profile.html")
                +portfolio-card( 'card-avatar-12.png', 'Мария Владимировна Н.', 'Факультет искусств', 'Педагогическое образование', '111', '2', '100',  'digital-profile.html')
                    ul.achievements__list
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--handshake Достижение: Рукопожатие
                            svg.achievement-icon( width="18" height="18")
                                use(href="#handshake")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--paint-palette Достижение: Искусство
                            svg.achievement-icon( width="18" height="18")
                                use(href="#paint-palette")
                        li(data-tooltip="Рукопожатие" data-flow="up").achievement.achievement--cup Достижение: Кубок
                            svg.achievement-icon( width="18" height="18")
                                use(href="#trophy")

            .portfolio-cards__pagination.pagination 
                .pagination__wrapper
                    span.pagination__button.pagination__button--back
                        a(href="#").pagination__link.pagination__link--back Назад
                            svg.pagination__link--icon
                                use(href="#back" width="8" height="14")
                    ul.pagination__list
                        li.pagination__item.pagination__item--active
                            a(href="#").pagination__link.pagination__link--active 1
                        li.pagination__item
                            a(href="#").pagination__link 2
                        li.pagination__item
                            a(href="#").pagination__link 3
                        li.pagination__item
                            a(href="#").pagination__link 4
                        li.pagination__item
                            a(href="#").pagination__link 5
                        li.pagination__item
                            a(href="#").pagination__link 6
                        li.pagination__item
                            a(href="#").pagination__link 7
                        li.pagination__item
                            a(href="#").pagination__link 8
                    span.pagination__button.pagination__button--forward
                        a(href="#").pagination__link.pagination__link--forward Вперед
                            svg.pagination__link--icon
                                use(href="#back" width="8" height="14" )
        .portfolio-cards__filter.filter
            .filter__wrapper
                .filter__age
                    h4.filter__title.title--aside Возраст 
                        span (лет)
                    .filter__range.two-range-slider.js-two-range-slider
                        .c-rng__multi
                            input.c-rng(type='range' min='0' max='250000' value='20000' data-js='range' data-range-output=':true' data-range-type='lower' data-range-diff='5')
                            input.c-rng(type='range' min='0' max='250000' value='200000' data-js='range' data-range-output=':true' data-range-type='upper' data-range-diff='5')
                .filter__checkboxes
                    .filter__checkboxes-container.scrollbar-custom
                        .filter__checkboxes-scroll
                            .filter__checkboxes-wrapper
                                label.filter__label( for="social-activity") Общественная деятельность
                                    input.filter__checkbox(disabled type="checkbox" id="social-activity" name="social-activity")
                                    span.filter__checkbox-visible
                            .filter__checkboxes-wrapper
                                label.filter__label(for="sport-activity") Спортивные достижения
                                    input.filter__checkbox(checked type="checkbox" id="sport-activity" name="sport-activity")
                                    span.filter__checkbox-visible
                            .filter__checkboxes-wrapper
                                label.filter__label(for="culture-activity") Культурно-творческая деятельность
                                    input.filter__checkbox(type="checkbox" id="culture-activity" name="culture-activity")
                                    span.filter__checkbox-visible
                            .filter__checkboxes-wrapper
                                label.filter__label(for="international-activity") Международная деятельность
                                    input.filter__checkbox(type="checkbox" id="international-activity" name="international-activity")
                                    span.filter__checkbox-visible
                            .filter__checkboxes-wrapper
                                label.filter__label(for="other-activity") Иная деятельность
                                    input.filter__checkbox(type="checkbox" id="other-activity" name="other-activity")
                                    span.filter__checkbox-visible
                            .filter__checkboxes-wrapper
                                label.filter__label(for="other1-activity") Иная деятельность
                                    input.filter__checkbox(type="checkbox" id="other1-activity" name="other-activity")
                                    span.filter__checkbox-visible
                            .filter__checkboxes-wrapper
                                label.filter__label(for="other2-activity") Иная деятельность
                                    input.filter__checkbox(type="checkbox" id="other2-activity" name="other-activity")
                                    span.filter__checkbox-visible
                .filter__faculty
                    h4.filter__title.title--aside Факультет
                    select.filter__select
                        option(selected disabled) -- выберите --
                        option(value="#") Радиотехнический
                        option(value="#") Физики и Химии
                        option(value="#") Искусств
                .filter__education
                    h4.filter__title.title--aside Уровень образования
                    .filter__education-options
                        include select/_select
                .filter__salary
                    h4.filter__title.title--aside Желаемая заработная плата
                    .filter__range.two-range-slider.js-two-range-slider
                        .c-rng__multi
                            input.c-rng(type='range' min='0' max='250000' value='20000' data-js='range' data-range-output=':true' data-range-type='lower' data-range-diff='5')
                            input.c-rng(type='range' min='0' max='250000' value='200000' data-js='range' data-range-output=':true' data-range-type='upper' data-range-diff='5')
