section.portfolio.no-print
    .portfolio__container.card--stack
        h2.portfolio__title.title Цифровой профиль
        .portfolio__wrapper
            .portfolio__progress.gauge(data-width="236" data-value="60")
                span.gauge__value
