section.science-work
    .science-work__header
        h2.science-work__title Научная работа
        span.divider
        .science-work__progress
            .progress
                .progress-bar(data-progress='43')
            .progress-info
    .science-work__container
