section.services
    .services__container.swiper-container
        .services__header
            h2.services__title.title--large Популярные услуги
            span.divider
            .services__navigation.services__navigation--desktop
                .swiper-button-prev.services-button-prev
                .swiper-pagination.services-pagination
                .swiper-button-next.services-button-next
        .services__slider.swiper-wrapper
            a(href="#").service.swiper-slide
                h3.service__name Справка об обучении
                p.service__deadline Срок готовности 3 дня
            a(href="#").service.swiper-slide
                h3.service__name Справка об обучении
                p.service__deadline Срок готовности 3 дня
            a(href="#").service.swiper-slide
                h3.service__name Справка об обучении
                p.service__deadline Срок готовности 3 дня
            a(href="#").service.swiper-slide
                h3.service__name Справка об обучении
                p.service__deadline Срок готовности 3 дня
            a(href="#").service.swiper-slide
                h3.service__name Справка об обучении
                p.service__deadline Срок готовности 3 дня
            a(href="#").service.swiper-slide
                h3.service__name Справка об обучении
                p.service__deadline Срок готовности 3 дня
        .services__navigation
            .swiper-button-prev.services-button-prev
            .services__pagination.swiper-pagination.services-pagination
            .swiper-button-next.services-button-next
