// Основной блок слайдера
.slider
    // Первый слайд
    .slider__item.slider__item--current
        img(src="img/city.png" class="slider__slide slider__slide--current")
        p.slider__description Портал РГСУ <br> по поиску портфолио <br> выпускников, студентов и аспирантов
    // Второй слайд
    .slider__item.slider__item--left
        img(src="img/chicks.png" class="slider__slide")
    // Третий слайд
    .slider__item.slider__item--right
        img(src="img/students.png" class="slider__slide")
