#carousel
    .card
        img(src="img/city.png")
        p.card__description
            span Портал РГСУ  <br>  по поиску портфолио  <br>  выпускников, студентов и аспирантов
    .card
        img(src="img/chicks.png")
        p.card__description
            span Портал РГСУ  <br>  по поиску портфолио  <br>  выпускников, студентов и аспирантов
    .card
        img(src="img/students.png")
        p.card__description
            span Портал РГСУ  <br>  по поиску портфолио  <br>  выпускников, студентов и аспирантов