.stories
    .stories__header
        h3.stories__title.title--large Студенческие истории
        span.divider
        button.stories__accordeon-button
    .stories__container.swiper-container
        .stories__wrapper.swiper-wrapper
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
            .swiper-slide.stories__slide
                picture
                    source(srcset="img/studyear.webp" type="image/webp")
                    img.stories__picture(src="img/studyear.png" alt="История ")
        .stories__buttons
            .stories__button.stories__button--prev.swiper-button-prev
            .swiper-pagination
            .stories__button.stories__button--next.swiper-button-next