section.study-work
    .study-work__header
        h2.study-work__title Учебная работа
        span.divider
        .study-work__progress
            .progress
                .progress-bar(data-progress='75')
            .progress-info
    .study-work__container.study-work__container--active
        .study-work__section
            p.study-work__section-title Результаты учебной деятельности
                span.study-work__section-count 4
            button.study-work__section-button.accordeon-button.accordeon-button--active

        table.study-work__table.table.table--active
            tbody
                tr
                    th.table__title Наименование учебной дисциплины
                    th.table__title Учебный год
                    th.table__title Оценка
                    th.table__title Письменная работа
                tr
                    td(colspan='4').table__separator 1 семестр
                tr
                    td Музыкально-исполнительские школы и концепции
                    td 1 семестр,Осенний(1 курс)
                    td Хорошо
                    td Отстуствует
                tr
                    td Иностранный язык
                    td 1 семестр,Осенний(1 курс)
                    td Зачтено
                    td Открыть
                tr
                    td(colspan='4').table__separator 2 семестр
                tr
                    td Русский язык и культура речи
                    td 1 семестр,Осенний(1 курс)
                    td Хорошо
                    td Отсутствует
                tr
                    td Теория и история музыкального искусства
                    td 1 семестр,Осенний(1 курс)
                    td Зачтено
                    td Открыть
    .study-work__container.study-work__container
        .study-work__section
            p.study-work__section-title Результаты учебной деятельности
                span.study-work__section-count 4
            button.study-work__section-button.accordeon-button
    .study-work__container
        .study-work__section
            p.study-work__section-title Результаты учебной деятельности
                span.study-work__section-count 4
            button.study-work__section-button.accordeon-button
    .study-work__container
        .study-work__section
            p.study-work__section-title Результаты учебной деятельности
                span.study-work__section-count 4
            button.study-work__section-button.accordeon-button

