.parent-cabinet__perfomance.parent-cabinet__tab.parent-cabinet__tab--active(aria-label="Вкладка Успеваемость" id="perfomance")
    .parent-cabinet__tab-wrapper
        +table
.parent-cabinet__finance.parent-cabinet__tab.finance(aria-label="Вкладка Финансы" id="finance")
    p.parent-cabinet__finance-preheader Сведения о взаиморасчетах по договору №1401002038 от 01.08.2014
    p.parent-cabinet__finance-number Ваш УИК: 37.05.01.02.622128
    .parent-cabinet__tab-wrapper
        +finance
        p.parent-cabinet__table-date Данные обновлены 19.10.2020
    .finance__content
        .finance__content-history
            .parent-cabinet__tab-wrapper.parent-cabinet__tab--active
                h3.parent-cabinet__table-title.title История оплат
                table.table-scroll.table-scroll--half
                    thead.table-scroll__header-clean
                        tr
                            th.table-scroll__title Дата
                            th.table-scroll__title Сумма
                    tbody.body-half-screen
                        tr
                            td.table-scroll__cell 02.08.2014
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 21.01.2015
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 02.08.2014
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 31.07.2015
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 29.02.2016
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 01.02.2017
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 02.03.2018
                            td.table-scroll__cell 35 000 р.
                        tr
                            td.table-scroll__cell 03.04.2019
                            td.table-scroll__cell 35 000 р.
                    tfoot
                        tr
                            td.table-scroll__total Итого
                            td.table-scroll__sum-expect 492 850 р.
                p.parent-cabinet__table-date Сведения о поступлении платежей обновляются в течение 10 дней с момента поступления средств на счет университета
        .finance__content-debt
            .parent-cabinet__tab-wrapper
                .finance__content-container
                    svg(width="110" height="110" fill="#2BC584")
                        use(href="#shield")
                    p.finance__content-description Задолженность по основному договору на 19.10.2020
                    p.finance__content-isDebt Отсутствует
                    .finance__content-debt-buttons
                        button.finance__content-debt-button.finance__content-debt-button--pay.btn.btn--green Оплатить online
                        button.finance__content-debt-button.finance__content-debt-button--check.btn.btn--grey Получить квитанцию
                    .finance__content-debt-links
                        a(href="#").main__link Задать вопрос
                        a(href="#").main__link Кредит с государственной поддержкой
.parent-cabinet__schedule.parent-cabinet__tab(aria-label="Вкладка Расписание" id="schedules")
    .parent-cabinet__tab-wrapper
        .parent-cabinet__tab-togglers
            label(for="iOS").parent-cabinet__tab-togglers.parent-cabinet__tab-togglers--even Четная неделя
            input(type="checkbox" id="iOS")
            label(for="iOS").parent-cabinet__tab-toggle
            label(for="iOS").parent-cabinet__tab-togglers.parent-cabinet__tab-togglers--odd Нечетная неделя
.parent-cabinet__visits.parent-cabinet__tab(aria-label="Вкладка Посещения" id="visits")
    .parent-cabinet__tab-wrapper
        +table