.parent-cabinet__perfomance.parent-cabinet__tab.parent-cabinet__tab--active(aria-label="Вкладка Успеваемость" id="perfomance")
    +table
.parent-cabinet__finance.parent-cabinet__tab(aria-label="Вкладка Финансы" id="finance")
    +finance
.parent-cabinet__schedule.parent-cabinet__tab(aria-label="Вкладка Расписание" id="schedules")
    +table
.parent-cabinet__visits.parent-cabinet__tab(aria-label="Вкладка Посещения" id="visits")
    +table