.accordeon-container {
  display: none;
  width: 100%;
  height: 440px;
  animation: toHeight 0.2s reverse;
  .accordeon-section--active & {
    display: block;
    animation: toHeight 0.2s ease-in-out;
  }
}

.accordeon-section {
  margin-bottom: 32px;
}

@keyframes toHeight {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
