.achievements__list {
  @include list-reset;
  display: flex;
  font-size: 0;
  padding-bottom: 17px;
  max-width: 200px;
}

.achievement {
  background-color: #F1F4F9;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin-right: 21px;
  &:last-child {
    margin-right: 0;
  }
  &--handshake {
    background: #F1F4F9 url('../img/icons/icons.svg#handshake') no-repeat center;
    background-size: 60%;
  }
  &--cup {
    background: #F1F4F9 url('../img/icons/icons.svg#trophy') no-repeat center;
    background-size: 60%;
  }
  &--art {
    background: #F1F4F9 url('../img/icons/icons.svg#paint-palette') no-repeat center;
    background-size: 60%;
  }
  &--notebook {
    background: #F1F4F9 url('../img/icons/icons.svg#notebook') no-repeat center;
    background-size: 60%;
  }
}