.classmates {
  margin-bottom: 31px;
}

.classmates__wrapper {
  @include card;
  height: 271px;
  flex-direction: column;
  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    top: -20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    top: -10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    z-index: -1;
  }
}

.classmates__title {
  margin-bottom: 13px;
}

.classmates__list {
  color: rgba(68, 68, 68, 1);
  overflow-y: scroll;
  max-height: 206px;
  width: 96%;
  flex-direction: column;
  display: flex;
  align-items: center;
  &::before {
    content:"";
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 46px;
    background: linear-gradient(to top, #fff, transparent);
  }
  @media (min-width: $tablet) {
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
  }
}

.classmates__user {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  justify-content: space-between;
  padding-bottom: 26px;
}

.classmates__name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.classmates__birth {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #C3CAD6;
  margin: 0;
}

