.enter {
  margin-bottom: 32px;
  display: none;
  @media (min-width: $mobile) {
    display: block;
  }
  @media (min-width: $tablet) {
    margin-bottom: 66px;
  }
}

.enter__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  h1 {
    visibility: hidden;
    font-size: 0;
    height: 0;
    width: 0;
    @media (min-width: 768px) {
      visibility: visible;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 39px;
      color: white;
      margin: 0;
      width: 388px;
      height: auto;
      padding: 9px;
      background-color: #3464e0;
      text-transform: uppercase;
      position: absolute;
      top: 79px;
      left: 76px;
    }
  }
}

.enter__button {
  @include btn-reset;
  background: #2bc584;
  border: 1px solid #2bc584;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding: 10px 0;

  @media (min-width: 768px) {
    position: absolute;
    width: 236px;
    bottom: 48px;
    left: 85px;
    border-radius: 4px;
    transition: all .5s;
    &:hover, &:focus {
      box-shadow: 0 2px 2px rgba(0,0,0,.5);
    }
  }
}

.enter__background {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    width: 100%;
    max-width: 1350px;
    min-height: 270px;
    object-fit: cover;
    z-index: -2;
  }
}
