.page-header__login {
    padding-left: 17px;
    border-left: 1px solid #2955c9;
    .page-header--menu-opened & {
        padding-left: 0;
    }
    @media (min-width: $mobile) {
        border: none;
        padding-left: 0;
    }
}

.login {
    width: 100%;
    position: absolute;
}

.login__modal {
    background: $c-light;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(110, 119, 129, 0.1);
}

.login__navigation-list {
    @include list-reset;
    position: absolute;
    background-color: #fff;
    z-index: 12;
    left: 0;
    width: 100%;
    top: 70px;
    box-shadow: 0 5px 24px rgba(110, 119, 129, 0.1);
    display: none;
    .page-header--menu-opened & {
        display: block;
        animation: slideLeft 0.5s;
    }

    @media (min-width: $tablet) {
        .page-header--menu-opened & {
            width: 240px;
            top: 56px;
            left: -40px;
            transition: 0.2s;
            animation: none;
            &::after {
                content: "";
                position: absolute;
                right: 120px;
                top: -20px;
                border: 10px solid transparent;
                border-bottom: 10px solid white;
            }
        }
    }
}

.login__navigation-item {
    border-bottom: 1px solid #f1f4f9;
    transition: .5s;
    &:hover {
        background: $c-grey;
    }
    a {
        display: block;
        font-size: 18px;
        line-height: 26px;
        padding: 18px 0 15px 25px;
        color: $c-black;
        &:visited {
            color: $c-black;
        }
    }
}
.login__navigation--exit {
    border-bottom: none;
    a {
        color: $c-darkgrey;
        &:visited {
            color: $c-darkgrey;
        }
    }
}
