.pagination {
    width: 100%;
    background-color: #fff;
    height: 64px;
}

.pagination__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination__button {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    &--back {
        margin-left: 49px;
    }
    &--forward {
        margin-right: 49px;
    }
}

.pagination__link {
    display: block;
    font-size: 16px;
    line-height: 14px;
    color: #c3cad6;
    padding: 9px 12px;
    border-radius: 2px;
    transition: .2s;
    &--back {
        color: #c3cad6;
        position: relative;
        svg {
            transition: .2s;
            top: 50%;
            transform: translateY(-50%);
            left: -11px;
            fill: $c-darkgrey;
        }
        &:hover {
            svg {
                fill: $c-blue;
                left: -6px;
            }
        }
    }
    &--forward {
        color: #c3cad6;
        position: relative;
        svg {
            transition: .2s;
            transform: translateY(-50%) rotate(180deg);
            top: 50%;
            right: -11px;
            fill: $c-darkgrey;
        }
        &:hover {
            svg {
                right: -6px;
                fill: $c-blue;
            }
        }
    }
    &:hover {
        color: $c-blue;
    }
    &--active {
        color: $c-light;
        &:hover {
            color: $c-light;
        }
    }

}

.pagination__link--icon {
    position: absolute;
    width: 7px;
    height: 14px;

}

.pagination__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
}

.pagination__item {
    background: #ffffff;
    border: 1px solid #f1f4f9;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 19px;

    &:last-child {
        margin-right: 0;
    }
    &:hover {
        border-color: $c-blue;
    }
    &--active {
        background: #3068d4;
        color: $c-light;
        &:hover {
            border: 1px solid #fff;
        }
    }
}

.pagination__link--back.disabled,
.pagination__link--forward.disabled {
  cursor: unset;
  color: #c3cad6;
  svg {
    fill: #c3cad6;
  }
  &:hover {
    svg {
      left: -11px;
    }
  }
}
