.page-header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #3464e0;
  margin-bottom: 24px;
  @media (max-width: $mobile) {
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  @include container;
  justify-content: space-between;
}

.page-header__sidebar {
  height: 70px;
  display: flex;
  align-items: center;
  border-right: 1px solid #2955c9;
  @media (min-width: $mobile) {
    border: none;
  }
  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__sidebar-toggler {
  font-size: 0;
  width: 37px;
  height: 20px;
  background-color: #fff;
  @include btn-reset;
  .toggler-element {
    width: 24px;
    display: block;
    height: 2px;
    background-color: #fff;
    position: relative;
    border-radius: 2px;
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      top: -7px;
      background-color: #fff;
      border-radius: 2px;
      transition: 0.5s;
    }
    &::before {
      width: 15px;
    }
    &::after {
      top: 7px;
    }
  }
  &:focus {
    //ДЛЯ ДЕМОНСТРАЦИИ, ПОТОМ ПЕРЕКИНУТЬ В JS
    .toggler-element {
      transform: rotate(45deg);
      &::before {
        width: 100%;
        top: 0;
      }
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
}

//logo image
.page-header__logo {
  display: flex;
  align-items: center;
  padding: 20px 0;
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 267px;
  }
  @media (min-width: $mobile) {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.page-header__logo-image {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: none;
  @media (min-width: 375px) {
    display: block;
  }
  @media (min-width: $mobile) {
    width: 48px;
    height: 48px;
  }
  @media (min-width: $tablet) {
    margin-right: 0;
  }
}

.page-header__logo-description {
  font-size: 20px;
  font-weight: 300;
  color: $c-light;
  line-height: 23px;
  margin: 0;
  @media (min-width: $tablet) {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }

  @media (min-width: $mobile) {
    font-size: 30px;
  }
}

//navigation
.page-header__nav {
  position: fixed;
  left: 0;
  top: -100vh;
  padding-top: 40px;
  background-color: #fff;
  width: 100vw;
  min-height: 131px;
  z-index: 1;
  visibility: visible;
  opacity: 0;
  transition: all 300ms ease-in-out;
  .page-header--menu-opened & {
    display: block;
    z-index: 2;
    top: 70px;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  ul {
    font-weight: normal;
    list-style: none;
    margin: 0;
    li {
      padding-bottom: 10px;
      a {
        color: #3464e0;
      }
    }
  }
  @media (min-width: $tablet) {
    display: flex;
    position: static;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    top: 0;
    width: 100%;
    min-height: auto;
    opacity: 1;
    justify-content: space-between;
    ul {
      display: flex;
      padding: 0;
      justify-content: space-between;
      li {
        padding: 0 43px 0 0;
        @media (min-width: $tablet) {
          padding-right: 0;
        }

        a {
          transition: 0.2s;
          color: #9cbaf0;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
}

.page-header__toggler {
  @include btn-reset;
  font-size: 0;
  width: 54px;
  height: 26px;
  background: url("../img/icons/icons.svg#key") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  .page-header--menu-opened & {
    background: none #fff;
    width: 56px;
    height: 70px;
    top: 0;
    right: 0;
    animation: slideRight .5s;
    position: absolute;
    &::before,
    &::after {
      transition: .5s;
      content: '';
      position: absolute;
      width: 24px;
      display: block;
      height: 2px;
      background-color: blue;
      transform: rotate(45deg);
      border-radius: 2px;
    }
    &::after {
      transform: rotate(-45deg);
    }

  }
  @media (min-width: $tablet) {
    display: none;
  }
}

@keyframes slideRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

//log-in
.page-header__login {
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
}

.page-header__login-button {
  @include btn-reset;
  color: #fff;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: #1740aa;
  border-radius: 50px;
  padding: 13px 23px 13px 56px;
  transition: 0.2s;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/icons/icons.svg#key") no-repeat center;
    background-size: cover;
    left: 24px;
    top: 11px;
  }
  &:hover,
  &:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}

.page-header__menu {
  width: 42px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-left: 1px solid #2955c9;

  @media (min-width: $mobile) {
    border: none;
  }
  @media (min-width: $tablet) {
    height: auto;
    padding: 0;
    width: auto;
  }
}

.page-header__menu-list {
  min-width: 285px;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
}