.page-header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: $c-blue;
  margin-bottom: 24px;
  @media (max-width: $mobile) {
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  @include container;
  justify-content: space-between;
}

.page-header__sidebar {
  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__sidebar-toggler {
  font-size: 0;
  width: 27px;
  height: 27px;
  background-color: #fff;
  @include btn-reset;
  .toggler-element {
    width: 100%;
    display: block;
    height: 2px;
    background-color: #fff;
    position: relative;
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      top: -10px;
      background-color: #fff;
    }
    &::after {
      top: 10px;
    }
  }
}

//logo image
.page-header__logo {
  padding-top: 11px;
  padding-bottom: 11px;
  @media (min-width: $mobile) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
  }
  @media (min-width: $tablet) {
    width: 355px;
  }
}
.page-header__logo-image {
  display: none;
  @media (min-width: $mobile) {
    display: block;
  }
}

.page-header__logo-description {
  font-size: 14px;
  @media (min-width: $tablet) {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
}

//navigation
.page-header__nav {
  position: fixed;
  left: 0;
  top: -100vh;
  padding-top: 40px;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  visibility: visible;
  opacity: 0;
  transition: all 300ms ease-in-out;
  .page-header--menu-opened & {
    display: block;
    z-index: 1;
    top: 0;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  ul {
    font-weight: normal;
    list-style: none;
    li {
      padding-bottom: 10px;
      a {
        color: #3464e0;
      }
    }
  }
  @media (min-width: $tablet) {
    display: flex;
    position: static;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    justify-content: space-between;
    ul {
      display: flex;
      padding: 0;
      justify-content: space-between;
      li {
        padding: 0 43px 0 0;

        a {
          transition: 0.2s;
          color: #9cbaf0;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
}

.page-header__toggler {
  @include btn-reset;
  font-size: 0;
  width: 27px;
  height: 27px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease-in-out;
  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
  }
  &::after {
    top: 10px;
    box-shadow: 0 10px 0 #fff;
  }
  .page-header--menu-opened & {
    &::before,
    &::after {
      background-color: #2955c9;
    }
    &::after {
      box-shadow: 0 10px #2955c9;
    }
  }
  @media (min-width: $tablet) {
    display: none;
  }
}

//log-in
.page-header__login {
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
}

.page-header__login-button {
  @include btn-reset;
  color: #fff;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: #1740aa;
  border-radius: 50px;
  padding: 13px 23px 13px 56px;
  transition: 0.2s;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/icons/icons.svg#key") no-repeat center;
    background-size: cover;
    left: 24px;
    top: 11px;
  }
  &:hover,
  &:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}


