.parent-cabinet__container {
  display: flex;
  gap: 30px;
}

.parent-cabinet__wrapper {
  @media (min-width: $tablet) {
	max-width: 1005px;

  }
}

.parent-cabinet__title {
  margin-bottom: 21px;
}

.parent-cabinet__buttons {
  margin-bottom: 16px;
}

.parent-cabinet__button {
  @include btn-reset;
  position: relative;
  padding: 21px 20px 21px 73px;
  margin-right: 30px;
  border-radius: 2px;
  color: #6E7781;
  border-width: 1px;
  border-style: solid;
  border-color: #E4ECFA;
  svg {
	position: absolute;
	fill: $c-darkgrey;
	left: 18px;
	top: 12px;
  }
  &:hover {
	svg {
	  fill: $c-light;
	}
  }
  &--active {
	color: $c-blue;
	border-width: 1px;
	border-style: solid;
	border-color: $c-blue;
	svg {
	  position: absolute;
	  fill: $c-blue;
	  left: 18px;
	  top: 12px;
	}
  }
}

.parent-cabinet__tabs {
  margin-bottom: 38px;
}

.parent-cabinet__tab {
  background-color: $c-light;
  padding: 0 24px;
  display: none;

  &--active {
	display: block;
  }
}

.parent-cabinet__aside {
  width: 315px;
  .portfolio-cards__wrapper {
	margin: 0;
  }
   .card {
	width: 315px;
	margin: 0 0 48px;
  }
  .portfolio__container {
	width: 100%;
  }
}
.parent-cabinet__aside-title {
  margin-bottom: 21px;
}