.partners__title {
    font-size: 1.625rem;
}

.partners__header {
    display: flex;
    align-items: center;
}

.partners__list {
    display: flex;
    padding: 0;
    margin: 39px 0;
}

.partners__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__item {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 140px;
    background-color: #fff;
    img {
        opacity: 0.6;
    }
    &:hover {
        cursor: pointer;
        img {
            opacity: 1;
        }
    }
}

.partners__list-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: #aaafb7;
        border-radius: 50%;
        &-active {
            background: #c3cad6;
            border-radius: 14px;
            width: 24px;
            height: 14px;
        }
    }
}
