.slider__item {
  border-radius: 4px;
  display: flex;
  padding-left: 29px;
  padding-top: 29px;
  padding-right: 26px;
  &--online {
    background-color: #3464E0;
    width: 545px;
  }
}


.slider__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 23px;
  width: 353px;
}

.slider__item-descr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 24px;
}

.slider__item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 13px 38px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: block;
  width: 146px;
  margin-bottom: 25px;
}

.slider__item-date {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 26px;
  span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    padding-top: 12px;
    padding-bottom: 11px;
  }
}

.slider__item-state {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  padding: 2px 8px;
  display: block;
  width: 63px;
  &--online {
    background: #2BC584;
    border-radius: 2px;
  }
}