.social-block {
    position: relative;
}

.social-block__list {
    @include list-reset;
    padding-bottom: 25px;
    display: flex;
    margin-bottom: 25px;
    @media (min-width: $tablet) {
        padding-bottom: 0;
    }
}

.social-block__link {
    font-size: 0;
    width: 36px;
    height: 36px;
    background-size: 50%;
    border: 1px solid #c3cad6;
    border-radius: 50%;
    margin-right: 10px;
    display: block;
    position: relative;
    transition: 0.2s;
    svg {
        position: absolute;
        @include center;
        fill: $c-darkgrey;
    }
    &:hover {
        background-color: #4a76a8;
        border: 1px solid #4a76a8;
        svg {
            fill: $c-light;
        }
    }
    &--fb:hover {
        background-color: #3578e5;
        border: 1px solid #3578e5;
    }
    &--insta:hover {
        background: $c-black;
        border: none;
    }
}

.social-block__item {
    &:last-child a {
        margin-right: 0;
    }
}
