.stories {
  width: 100%;
  max-width: 1005px;
}

.stories__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.stories__title {
  white-space: nowrap;
}

.stories__wrapper {
  margin-bottom: 36px;
}

.stories__picture {
  width: 141px;
  height: 184px;
  object-fit: cover;
  border-radius: 4px;
  padding: 3px;
  border: 2px solid #2BC584;
  box-sizing: border-box;
}

.stories__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
}
