.table-scroll {
  max-width: 1300px;
  display: block;
  empty-cells: show;
  margin: 0 auto;
  border-spacing: 0;
  border: none;
}

.table-scroll thead {
  background: #f1f4f9;
  position: relative;
  display: block;
  width: 100%;
  overflow-y: hidden;
  margin-bottom: 19px;
}

.table-scroll tbody {
  /* Position */
  display: block;
  position: relative;
  width: 100%;
  height: 45vh;
  overflow-y: scroll;
  padding-right: 7px;
}

.table-scroll tr {
  width: 100%;
  display: flex;
  margin: 9px 0;
}

.table-scroll th,
td {
  flex-basis: 100%;
  display: block;
  text-align: left;
}

.table-scroll__title {
  &--long {
    min-width: 440px;
  }
}

.table-scroll td {
  border-bottom: 1px solid #f1f4f9;
}

.table-scroll tfoot {
  display: flex;
  td {
    padding: 17px 0 16px 12px;
  }
}

/* Other options */

.table-scroll__cell {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.table-scroll__title {
  padding: 17px 0 16px 12px;
  font-size: rem-calc(16);
  line-height: 26px;
}

.table-scroll__divider {
  font-weight: 600;
  font-size: rem-calc(20);
  line-height: 24px;
  color: #3464e0;
  text-align: center;
  width: 100%;
  padding-bottom: 18px;
  border-bottom: 1px solid #f1f4f9;
}

.table-scroll__total  {
  width: 200px;
}

.table-scroll__header {
  display: flex;
  align-items: center;
}

.parent-cabinet__table {
  padding-top: 27px;
  max-height: 462px;
  tbody {
    height: 48vh;
  }

}
.table-scroll__finance {
  max-height: auto;
}