mixin user(username, birthday, img, imgWebp, link)
    a(href=link).classmates__user
        .classmates__avatar
            picture
                source(srcset="img/" + imgWebp, type="image/webp")
                img(src="img/" + img , alt=username)
        .classmates__info
            p.classmates__name
                | #{username}
            p.classmates__birth
                | День рождения: #{birthday}