extends ../layouts/_main.pug
include ./../mixins/_portfolio-card.pug
block variables
    - const title = 'Студенческий портал - Цифровое портфолио обучающегося';

block content
    include ../sections/_main-digital.pug
