extends ../layouts/_main.pug
include ./../mixins/_portfolio-cards.pug

block variables
    - const title = 'Студенческий портал - Кабинет родителя';

block content
    include ../sections/_parent-cabinet
