extends ../layouts/_main.pug
block variables
    - const title = 'Студенческий портал - По программам, разработанным в РГСУ, будут готовить волонтеров по всей стране'

block content
    include ../sections/_main-new-layout.pug
