extends ../layouts/_main.pug

block variables
    - const title = 'Студенческий портал - Список страниц';

block content
    .card--stack.container(style="margin-top: 60px")
        h1.title Список страниц
        ul.list(style="display: flex; flex-wrap: wrap; list-style: none; padding: 0;  max-height: 200px; flex-direction: column; align-items: center")
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="index.html" style="padding: 10px; display: block; text-align: center; width: 250px") index.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="dashboard.html" style="padding: 10px; display: block; text-align: center; width: 250px") dashboard.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="dashboard-vacancy.html"  style="padding: 10px; display: block; text-align: center; width: 250px") dashboard-vacancy.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="digital-portfolio.html"  style="padding: 10px; display: block; text-align: center; width: 250px") digital-portfolio.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="digital-profile.html"  style="padding: 10px; display: block; text-align: center; width: 250px") digital-profile.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="faq.html"  style="padding: 10px; display: block; text-align: center; width: 250px") faq.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="moderate.html"  style="padding: 10px; display: block; text-align: center; width: 250px") moderate.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="my-children-profile.html"  style="padding: 10px; display: block; text-align: center; width: 250px") my-children-profile.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="new-layout.html"  style="padding: 10px; display: block; text-align: center; width: 250px") new-layout.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="news.html" style="padding: 10px; display: block; text-align: center; width: 250px") news.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="parent.html" style="padding: 10px; display: block; text-align: center; width: 250px") parent.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="profile.html" style="padding: 10px; display: block; text-align: center; width: 250px") profile.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="profile-settings.html" style="padding: 10px; display: block; text-align: center; width: 250px") profile-settings.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="student-house.html" style="padding: 10px; display: block; text-align: center; width: 250px") student-house.html
            li.list__item(style=" border: 1px solid grey; margin-bottom: 10px;")
                a.list__link(href="vacancy.html" style="padding: 10px; display: block; text-align: center; width: 250px") vacancy.html