select.fancy-select(name='category' required='required' multiple='multiple')
    option(value='Бухгалтерия') Бухгалтерия
    option(value='IT') IT
    option(value='PM') Product Management
    option(value='PrM') Project Management
    option(value='Audio') Audio Production
    option(value='Video') Videoprod
