select.fancy-select(name='category' required='required' multiple='multiple')
    option(value='Бухгалтерия' selected) Бухгалтерия
    option(value='IT' selected) IT
    option(value='PM') Product Management
    option(value='Audio') Audio Production
    option(value='Video') Videoprod
