.btn {
  @include btn-reset;
  position: relative;
  padding: 8px 25px;
  text-align: center;
  font-family: $font;
  font-weight: 400;
  font-size: rem-calc(16);
  line-height: rem-calc(26);
  border: 1px solid #C3CAD6;
  box-sizing: border-box;
  border-radius: 50px;
  transition: .2s;
  color: #C3CAD6;

  @media (min-width: $stop-scaling) {
    padding: 15px 29px;
    font-size: 24px;
    line-height: 30px;
  }

  &:hover {
    background: #3464E0;
    border: 1px solid #3464E0;
    color: #fff;
  }

  &--light {
    border: 1px solid #3464E0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3464E0;
    white-space: nowrap;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.btn--regular {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #3464E0;
  border-color: #3464e0;
  padding: 11px 30px;
}

.btn--green {
  @include btn-reset;
  background: $c-green;
  box-sizing: border-box;
  border-radius: 4px;
  color: $c-light;
  padding: 8px 30px;
  display: flex;
  align-items: center;
}

.btn--grey {
  background: $c-darkgrey;
  border-radius: 4px;
  color: $c-light;
}
