@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  padding: 0 45px;
  width: 100%;
  max-width: 1440px;
  border-radius: 4px;

  @media (min-width: $stop-scaling) {
    padding: 0 40px;
  }

  @media (max-width: $tablet) {
    padding: 0 20px;
  }

  @media (max-width: $mobile) {
    padding: 0 12px;
  }
}

@mixin card {
  background: #fff;
  border-radius: 4px;
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    top: -20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    top: -10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    z-index: -1;
  }
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin hover {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin title {
  font-style: normal;
  font-weight: normal;
  font-size: rem-calc(22);
  line-height: 26px;
  color: #C3CAD6;
  margin: 0;
  padding-top: 25px;
  padding-left: 19px;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    font-size: rem-calc(18);
    text-transform: unset;
  }
}

@mixin title-main {
  @media (min-width: $tablet) {
    font-style: normal;
    font-weight: normal;
    font-size: rem-calc(26);
    line-height: 30px;
    color: #444444;
    margin: 0 11px 0 0;
  }
}

@mixin block-title {
  font-size: rem-calc(22);
  line-height: 26px;
  color: #6E7781;
  font-weight: 400;
  margin: 0 14px 0 0;
}

@mixin extra-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #444444;
  margin: 0 21px 0 0;
}

@mixin title-aside {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px;
  padding-top: 19px;
}

@mixin swiperCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
}

@mixin headerBlock {
  display: flex;
  align-items: center;
  width: 100%;
  .divider {
    width: 100%;
  }
}

@mixin button-blue {
  color: #fff;
  background: #3464E0;
  border: 1px solid #3464E0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 28px;
}

@mixin aside-container {
  @media (min-width: $tablet) {
    width: 315px;
    border-radius: 4px;
    height: fit-content;
  }
}

@mixin aside-divider {
  @media (min-width: $tablet) {
    margin-bottom: 2px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
  }
}