.tabs__buttons {
    display: flex;
    flex-wrap: wrap;
}

.tabs__button {
    margin-bottom: 10px;
    background: 0 0;
    border: 1px solid #e4ecfa;
    cursor: pointer;
    outline: 0;
    position: relative;
    border-radius: 2px;
    color: #6e7781;
    svg {
        position: absolute;
        fill: #c3cad6;
        left: 18px;
        top: 12px;
    }
    &:hover,
    &:focus {
        svg {
            fill: $c-light;
        }
    }
    &--active {
        color: #3464e0;
        border: 1px solid #3464e0;
        svg {
            position: absolute;
            fill: #3464e0;
            left: 18px;
            top: 12px;
        }
    }
    @media (min-width: 1400px) {
        margin: 0 30px 30px 0;
    }
}

.tabs__item {
    display: none;
    &--active {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }
}
