$c-light: #ffffff;
$c-black: #444444;
$c-title: #6E7781;
$c-blue: #3464e0;
$c-blue-background: linear-gradient(90deg, #3464e0 0%, #2955c9 100%);
$c-blue: rgb(52, 100, 224);
$c-link: #9cbaf0;
$c-grey: #f1f4f9;
$c-darkgrey: #c3cad6;
$c-green: #2BC584;
$c-red: #e06364;

$font: "Russia", "Arial", sans-serif;
$font-alt: "Radical", "Arial", sans-serif;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;
$small: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;
