section.settings
    .settings__container
        .settings__header
            h2.settings__title.title--large Мой профиль
        .settings__content.card--stack
            .settings__info
                .settings__info-wrapper
                    h3.settings__info-title Изменить данные
                    .profile__info
                        p.profile__name Мария Владимировна Н.
                        .profile__year Год поступления: 
                            span.profile__info-data 2017/2018
                        .profile__education Образование: 
                            span.profile__info-data Бакалавр
                        .profile__faculty Факультет: 
                            span.profile__info-data Факультет искусств
                        .profile__direction Направление подготовки: 
                            span.profile__info-data Социально-культурная деятельность
                        .profile__midscore Средний балл: 
                            span.profile__info-data 4.59
                        .profile__course Курс: 
                            span.profile__info-data 4
                .profile__info-avatar-section
                    img.profile__info-avatar(src="img/dashboard-avatar-1.png" alt="Мазеин К. В." width=206 height=206)
                    input(type="file" name="file" id="file").profile__upload-image
                    label(for="file").profile__upload-label Выберите файл
                        svg(width=29 height=29 fill="#ffffff")
                            use(href='#pencil')
                    p.profile__info-avatar-description
                        | * требования к файлу: <br> формат JPG, PNG, не более 2 МБ
            .settings__tabs.tabs__container
                .settings__tabs-buttons.tabs__buttons
                    button.settings__tabs-btn(data-id="info").tabs__button.tabs__button--active Информация
                    button.settings__tabs-btn(data-id="socials").tabs__button Социальные сети
                    button.settings__tabs-btn(data-id="about").tabs__button О себе
                    button.settings__tabs-btn(data-id="work").tabs__button Трудоустройство
                .settings__tabs-container
                    .settings__tab.settings__tab--active.settings__tab--info#info.tabs__item.tabs__item--active
                        p Some info
                    .settings__tab.settings__tab--socials#socials.tabs__item
                        ul.social-block__list.footer__list
                            li.social-block__item
                                a(href="mailto:info@rgsu.net").social-block__link.social-block__link--vk Вконтакте
                                    svg(width="18" height="11")
                                        use(href="#vk")
                            li.social-block__item
                                a(href="mailto:info@rgsu.net").social-block__link.social-block__link--fb Фейсбук
                                    svg(width="8" height="16")
                                        use(href="#fb")
                            li.social-block__item
                                a(href="mailto:info@rgsu.net").social-block__link.social-block__link--insta Инстаграм
                                    svg(width="16" height="16")
                                        use(href="#insta")
                    .settings__tab.settings__tab--about#about.tabs__item
                        ul.social-block__list.footer__list
                            li.social-block__item
                                a(href="mailto:info@rgsu.net").social-block__link.social-block__link--vk Вконтакте
                                    svg(width="18" height="11")
                                        use(href="#vk")
                            li.social-block__item
                                a(href="mailto:info@rgsu.net").social-block__link.social-block__link--fb Фейсбук
                                    svg(width="8" height="16")
                                        use(href="#fb")
                    .settings__tab.settings__tab--work#work.tabs__item
                        .settings__tab-content
                            .settings__tab-togglers
                                input(type="checkbox" id="isHire").ios-toggle
                                label(for="isHire").settings__tab-toggle
                                label(for="isHire").settings__tab-toggler Нахожусь в поиске работы
                            .settings__filter
                                .settings__filter-container
                                    label.settings__filter-label(for="position") Желаемая должность
                                    select(required name="position").settings__filter-select#position
                                        option(disabled) --выберите--
                                        option(selected) Директор
                                        option() Уборщик
                                        option() Владыка
                                .settings__filter-container
                                    label.settings__filter-label(for="environment") Профессиональная сфера
                                    select(required name="environment").settings__filter-select#environment
                                        option(disabled) --выберите--
                                        option(selected) IT
                                        option() Поломойка
                                        option() На параше
                                .settings__filter-container
                                    label.settings__filter-label(for="salary") Заработная плата
                                    .two-range-slider.js-two-range-slider#salary
                                        .two-range-slider__output
                                            .c-rng__multi
                                                input.c-rng(type='range' min='0' max='250000' value='20000' data-js='range' data-range-output=':true' data-range-type='lower' data-range-diff='5')
                                                input.c-rng(type='range' min='0' max='250000' value='200000' data-js='range' data-range-output=':true' data-range-type='upper' data-range-diff='5')
                                .settings__filter-container
                                    label.settings__filter-label Желаемый вид занятости
                                    select(required).settings__filter-select
                                        option(disabled) --выберите--
                                        option(selected) Частичная
                                        option() Полная
                                        option() Полная частичная
                    button.settings__save-btn.btn.btn--regular Сохранить
        .settings__global
            .settings__site.settings__site-profile
                h3.settings__info-title Настройки сайта и профиля
                .settings__site-togglers
                    input(type="checkbox" id="public").ios-toggle
                    label(for="public").settings__tab-toggle
                    label(for="public").settings__tab-toggler Я даю согласие на публикацию моего <br> портфолио на сайте ?
                .settings__site-togglers
                    input(type="checkbox" id="terms" disabled checked).ios-toggle
                    label(for="terms").settings__tab-toggle
                    label(for="terms").settings__tab-toggler Я согласен с <a href="#">пользовательским соглашением</a>
                .settings__site-togglers
                    input(type="checkbox" id="notification" disabled checked).ios-toggle
                    label(for="notification").settings__tab-toggle
                    label(for="notification").settings__tab-toggler Я согласен получать уведомления <br>о запросах работодателей
                .settings__site-togglers
                    input(type="checkbox" id="ablimpix" disabled checked).ios-toggle
                    label(for="ablimpix").settings__tab-toggle
                    label(for="ablimpix").settings__tab-toggler Участника "Абилимпикса"
                .settings__site-togglers
                    input(type="checkbox" id="volunteer").ios-toggle
                    label(for="volunteer").settings__tab-toggle
                    label(for="volunteer").settings__tab-toggler Волонтер "Абилимпикса"
                .settings__site-togglers
                    input(type="checkbox" id="fullMenu").ios-toggle
                    label(for="fullMenu").settings__tab-toggle
                    label(for="fullMenu").settings__tab-toggler Полный вывод панели меню
            .settings__site.settings__site-parents
                h3.settings__info-title Мои родители
                ul.settings__site-parents-list.parents-list
                    li.parents-list__item
                        span.parents-list__available Была на сайте: 24.11.2020
                        a(href="#").parents-list__link Иванова Мария Петровна
                    li.parents-list__item
                        span.parents-list__available Был на сайте: 24.11.2020
                        a(href="#").parents-list__link Иванова Мария Петровна

                p.settings__info-title Отправить приглашение
                .settings__invite
                    label(for="parent-mail") Email родителя
                    input(type="email" id="parent-mail" required)
                    button.settings__invite-btn.btn.btn--light Отправить
